header {
    background-color: #588157;
  height:130px;
    text-align:center;
    font-size: 16pt;
    padding-top 50px;
  }
  
  footer {
    background-color: #588157;
  height: 100px;
    text-align:center;
    font-size: 16pt;
    
  }
  
  header img {
    width: 200px;
    height: 300px;
    float: right;
    position: relative;
  }
  
  nav {
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 14pt;
  }